@import url('https://fonts.googleapis.com/css?family=Roboto:100i,400,700,900&display=swap');

#modal .background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(10, 10, 10, 0.86);
}

#modal .content {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 1em;
  margin: 1.25em;
  max-width: 615px;
  overflow: auto;
}

@media screen and (min-width: 600px) {
  #modal .content {
    left: calc(47.5vw - 307.5px);
  }
}

#modal .close {
  cursor: pointer;
  float: right;
  max-height: 40px;
  max-width: 40px;
  min-height: 40px;
  min-width: 40px;
  position: relative;
}

#modal .close::before {
  background-color: #000;
  box-sizing: border-box;
  content: '';
  display: block;
  height: 4px;
  left: 20px;
  position: absolute;
  top: 20px;
  transform: matrix(0.707107, 0.707107, -0.707107, 0.707107, -10, -2);
  transform-origin: 10px 2px;
  width: 20px;
}

#modal .close::after {
  background-color: #000;
  box-sizing: border-box;
  content: '';
  display: block;
  height: 20px;
  left: 20px;
  position: absolute;
  top: 20px;
  transform: matrix(0.707107, 0.707107, -0.707107, 0.707107, -2, -10);
  transform-origin: 2px 10px;
  width: 4px;
}

#modal .buttons {
  border: none;
}

#modal .buttons button {
  margin-top: 10px;
}

* {
  outline: none;
  background-color: #efefef;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 900;
  text-transform: capitalize;
  margin: 10px;
  margin-bottom: 0;
}

label {
  font-size: 1.2em;
  font-weight: 700;
  text-transform: capitalize;
  background-color: white;
}

h2 {
  font-size: 1.2em;
  font-weight: 700;
  text-transform: capitalize;
  padding: 10px;
}

.warning,
.description {
  font-size: 0.8em;
  color: #818078;
  grid-column: 2;
  background-color: white;
}
.name,
.mode {
  display: grid;
  grid-template-columns: 38% 60%;
  border-top: 1px solid #444;
  background-color: white;
  padding: 10px;
}

.buttons:not(:empty) {
  border: 1px solid #000;
}

button {
  display: block;
  border: none;
  width: 100%;
  font-size: 1.6em;
  font-weight: 700;
  padding: 5px;
  color: #444;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
}

button.start {
  background-color: white;
  color: #5ac8fa;
  text-transform: capitalize;
  font-weight: 400;
  text-align: left;
  padding: 10px 0px 10px 10px;

  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
  font-size: 1.3em;
}

/*
.sidebar {
  background-color: #ddd;
  padding: 1em;
}

@media screen and (min-width: 769px) {
  .sidebar {
    flex: 20%;
    min-height: calc(100vh - 2em);
    max-height: calc(100vh - 2em);
    max-width: 20%;
    overflow: auto;
    overflow-wrap: break-word;
    border-right: 2px solid #bbb;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    margin: 1em;
    text-align: center;
    border: 2px solid #bbb;
  }
}

.game {
  padding: 1em;
  min-height: calc(100vh - 2em);
}

@media screen and (min-width: 769px) {
  .game {
    flex: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.game .choose {
  text-align: center;
  display: none;
}

.game .choose p {
  font-size: 32px;
  margin: 0;
}

.game .choose input {
  font-size: 1.2em;
  transition-duration: 0.4s;
  border: 1.5px solid #000;
  padding: 0.6em;
  outline: none;
  margin: 5px;
}

.game .choose input:hover,
.game .choose input:focus {
  box-shadow: 0 0 0 0.3px #000;
}

.game .choose input:focus {
  background-color: #eee;
}

.game .choose button {
  margin-top: 0.25em;
  border: 1px solid #000;
  background-color: #fff;
}

.game .choose button:active {
  background-color: #eee;
}

.game .play {
  display: none;
}

.game .play .info {
  margin: 1em 0;
}

.game .play p {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  margin: 0;
}

.switch {
  font-size: 1.25em;
  position: relative;
  display: inline-block;
  width: 2em;
  height: 1em;
}

.switch input {
  display: none;
}

.switch input:disabled + .slider::before {
  border: 0.5px solid #000;
  height: calc(0.8em - 1px);
  width: calc(0.8em - 1px);
  background-color: #eee;
}

.switch input:checked + .slider::before {
  -webkit-transform: translateX(1em);
  -ms-transform: translateX(1em);
  transform: translateX(1em);
}

.switch input:checked + .slider {
  background-color: #b20000;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #b20000;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch .slider::before {
  position: absolute;
  content: '';
  height: 0.8em;
  width: 0.8em;
  left: 0.1em;
  bottom: 0.1em;
  background-color: #fff;
  transition: 0.4s;
}

.switch + .mobile-only + label {
  font-size: 1.25em;
  vertical-align: top;
}

@media screen and (max-width: 768px) {
  .switch {
    font-size: 1.75em;
  }
}

.modal {
  display: none;
}

.modal.is-active {
  display: block;
}

.modal .background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(10, 10, 10, 0.86);
}

.modal .content {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 1em;
  margin: 1.25em;
  max-width: 615px;
  overflow: auto;
}

@media screen and (min-width: 600px) {
  .modal .content {
    left: calc(47.5vw - 307.5px);
  }
}

.modal .close {
  cursor: pointer;
  float: right;
  max-height: 40px;
  max-width: 40px;
  min-height: 40px;
  min-width: 40px;
  position: relative;
}

.modal .close::before {
  background-color: #000;
  box-sizing: border-box;
  content: '';
  display: block;
  height: 4px;
  left: 20px;
  position: absolute;
  top: 20px;
  transform: matrix(0.707107, 0.707107, -0.707107, 0.707107, -10, -2);
  transform-origin: 10px 2px;
  width: 20px;
}

.modal .close::after {
  background-color: #000;
  box-sizing: border-box;
  content: '';
  display: block;
  height: 20px;
  left: 20px;
  position: absolute;
  top: 20px;
  transform: matrix(0.707107, 0.707107, -0.707107, 0.707107, -2, -10);
  transform-origin: 2px 10px;
  width: 4px;
}

.modal .buttons {
  border: none;
}

.modal .buttons button {
  margin-top: 10px;
}

.is-clipped {
  overflow: hidden;
}

@media screen and (min-width: 769px) {
  html.is-clipped {
    overflow: auto;
  }
}

@media screen and (max-width: 768px) {
  .game.is-clipped {
    overflow: auto;
  }
}
*/
