@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400,600&display=swap');

* {
  box-sizing: border-box;
  outline: none;
}

:root {
  --bg: #f9f9f9;
  --slideup: #fff;
  --slideup-tab: #ccc;

  --font: 'Open Sans', sans-serif;
  --font-colour: #111;
  --title-font: 2em Courier, monospace;
  --title-weight: 500;

  --button: #eaecee;
  --button-active: #000;

  --primary: #b20000;
  --contrast: #000;
  --complement: #fff;
  --warn: #d00;
  --grey: #818078;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1c1c1e;
    --slideup: #242426;
    --slideup-tab: #3a3a3c;

    --font-colour: #ddd;
    --title-weight: 600;

    --button: #151515;
    --button-active: #eaecee;

    --primary: #820000;
    --contrast: #ccc;
    --complement: #2c2c2e;
    --warn: #e20d00;
    --grey: #d7dbdd;
  }
}

html,
body,
#wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bg);
}
#wrapper {
  padding: 1em;
  font-family: var(--font);
  color: var(--font-colour);
}
section:not(#slideup) {
  width: 100%;
  min-height: 100%;
  padding-bottom: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail {
  font-size: 0.8em;
  text-align: center;
  color: var(--grey);
}
.warn {
  color: var(--warn);
}

.title {
  width: 100%;
  margin: 2.7em 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.title h1 {
  text-align: center;
  font: var(--title-font);
  font-weight: var(--title-weight);
  margin: calc(0.125em - 2.5px) 0.4em;
  border-bottom: 5px solid var(--primary);
}
.title img {
  width: 2.6em;
  height: 2.6em;
  margin: 0 0.4em;
}

.interaction {
  width: 25%;
}
.interaction .detail {
  text-align: right;
}
@media screen and (max-width: 1150px) {
  .interaction {
    width: 32.5%;
  }
}
@media screen and (max-width: 950px) {
  .interaction {
    width: 40%;
  }
}
@media screen and (max-width: 830px) {
  .interaction {
    width: 50%;
  }
}
@media screen and (max-width: 550px) {
  .interaction {
    width: 70%;
  }
}
@media screen and (max-width: 400px) {
  .interaction {
    width: 90%;
  }
}

label {
  font-style: italic;
  padding-left: 9px;
}
input[type='text'],
select {
  color: var(--font-colour);
  -webkit-appearance: none;
  font-size: 1em;
  font-family: var(--font);
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid var(--contrast);
  border-radius: 0;
  background: var(--complement);
  transition: 50ms;
}
select {
  background-image: linear-gradient(45deg, transparent 50%, var(--grey) 50%),
    linear-gradient(135deg, var(--grey) 50%, transparent 50%),
    linear-gradient(to right, var(--grey), var(--grey));
  background-position: calc(100% - 20px) calc(1em + 1.5px),
    calc(100% - 15px) calc(1em + 1.5px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px calc(1em + 6px);
  background-repeat: no-repeat;
}
select:focus {
  background-image: linear-gradient(45deg, var(--grey) 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, var(--grey) 50%),
    linear-gradient(to right, var(--grey), var(--grey));
  background-position: calc(100% - 15px) calc(1em + 1.5px),
    calc(100% - 20px) calc(1em + 1.5px), calc(100% - 2.5em) 0.5em;
}
input[type='text']::placeholder {
  color: var(--grey);
}
input[type='text']:hover,
select:hover {
  box-shadow: 0 0 0.2px 1px var(--contrast);
}
input[type='text']:focus,
input[type='text']:active,
select:focus,
select:active {
  box-shadow: 0 0 0.2px 0.3px var(--contrast);
}
input[type='text'].warn {
  border-color: var(--warn);
}
input[type='text'].warn::placeholder {
  color: var(--warn);
}
input[type='text'].warn:hover {
  box-shadow: 0 0 0.2px 1px var(--warn);
}
input[type='text'].warn:focus,
input[type='text'].warn:active {
  box-shadow: 0 0 0.2px 0.3px var(--warn);
}

button {
  font: 0.9em var(--font);
  padding: 0.35em 1.2em;
  margin: 0.35em 0;
  border: none;
  border-radius: 0.3em;
  transition: 0.2s;
  color: var(--contrast);
  background-color: var(--button);
  text-transform: uppercase;
}
button:hover {
  color: var(--complement);
  background-color: var(--button-active);
  cursor: pointer;
}
.interaction button {
  width: 100%;
  padding: 5px;
  font-size: 2.25em;
  font-weight: bold;
  border-radius: 0;
  margin: 0;
  background-color: var(--button-bg);
  color: var(--button-colour);
}
.interaction button:first-of-type {
  border-top-right-radius: 0.3em;
  border-top-left-radius: 0.3em;
}
.interaction button:last-of-type {
  border-bottom-right-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
}
.interaction button:active {
  color: var(--button-bg);
}
@media (hover: hover) and (pointer: fine) {
  .interaction button:hover {
    color: var(--button-bg);
  }
}
.white {
  --button-bg: #fff;
  --button-colour: #000;
}
.grey {
  --button-bg: #bbb;
  --button-colour: #000;
}
.blue {
  --button-bg: #36c;
  --button-colour: #fff;
}
.black {
  --button-bg: #000;
  --button-colour: #fff;
}
.pink {
  --button-bg: #f69;
  --button-colour: #fff;
}
.yellow {
  --button-bg: #ff0;
  --button-colour: #000;
}
.red {
  --button-bg: #c00;
  --button-colour: #fff;
}

#slideup {
  width: calc(100% - 2em);
  max-height: 1.5em;
  position: fixed;
  left: 1em;
  right: 1em;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--slideup);
  border-top-right-radius: 0.6em;
  border-top-left-radius: 0.6em;
  transition: 0.4s;
}
#slideup.open {
  max-height: 97.5%;
  padding-bottom: 1.5em;
}
#slideup #drag {
  padding: 1.5em 0 0 0;
}
#slideup #drag #tab {
  background-color: var(--slideup-tab);
  height: 0.4em;
  width: 3em;
  padding: 0.2em 1.5em;
  position: absolute;
  top: 0.55em;
  left: calc(50% - 1.5em);
  border-radius: 0.3em;
  transition: 0.3s;
}
#slideup.open #drag #tab {
  top: 0.75em;
}
#slideup #content {
  padding: 0 1em;
  height: 95%;
  overflow: hidden;
  width: 100%;
}
#slideup.open #content {
  overflow: auto;
}
